.img{
    display: inline-flex; 
    position: relative; 
    width: 50px; 
    height: 50px; 
    overflow: hidden; 
    border-radius: 50%; 
    align-items: center;
} 
    
.img img { 
    width: auto; height: 50%; margin-left: 0px;
}

.profile {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    word-break: break-word;
}

.hello {
    margin-top: 1.5rem;
    width: 60vw;
    height: 67vh;
}

@media (max-width: 1150px){
    .hello{
        width: 60vw;
        height: 75vh
    }
}

@media (max-width: 820px) {
    .hello{
        width:65vw;
        height: 70vh;
    }
}

@media (max-width: 770px) {
    .hello{
        width:65vw;
        height: 70vh;
    }
}

@media (max-width: 760px) {
    .hello{
        width:60vw;
        height: 70vh;
    }
}

@media (max-width: 650px) {
    .hello{
        width:70vw;
        height: 70vh;
    }
}

@media (max-width: 530px) {
    .hello{
        width:80vw;
        height: 60vh;
    }
}

@media (max-width: 420px) {
    .hello{
        width:70vw;
        height:48vh;
    }
}

@media (max-width: 380px) {
    .hello{
        width:70vw;
        height:45vh;
    }
}